.Subtitles {
    color: gray;
  } 
h2 {
    text-decoration: underline;
  }  
body {
    background-image: url(https://cdn.wallpapersafari.com/0/81/5I6E3h.jpg);
  }
#Lifeguard {
    float: right;
    margin-right: 60px;
    margin-top: 30px;
}
#Github {
    float: left;
}